<div class="container">
    <div class="dashboard-top-header">
        <ul class="dashboard-list">
            <li class="dashboard-list-element">
                Email
            </li>
            <li class="dashboard-list-element">
                Notification
            </li>
            <li class="dashboard-list-element">

            </li>
            <li class="dashboard-list-element">

            </li>
        </ul>
    </div>
    <div class="dashboard-left-menu">
        <div class="dashboard-left-menu-profile">

        </div>
        <div class="dashboard-left-menu-manage">
            <ul>
                <li>Work Space Manage</li>
                <li>Employer</li>
                <li>Map</li>
                <li>Setting</li>
            </ul>
        </div>
    </div>
    <div class="dashboard-right-body">
        <div class="dashboard-right-body-header">

        </div>
        <div class="dashboard-map">

        </div>
    </div>
    <div class="dashboard-bottom">

    </div>
</div>